.content {
	width: 69%;
	margin-top: 50px;
	margin-left: 27%;
	margin-bottom: 50px;
	background: rgba(0, 0, 255, .1);
	@include beveled-corners(#A1DE93, 20px, 5px);
	opacity: 0.8;
}

.content {
	h3 {
		color: #283739;
		padding: 10px;
		background: #F7F48B;
		border-radius: 10px;
	}
	li {
		font-weight: bold;
		color: #6C7A89;
	}
}