.details-one {
	& {
		width: 60%;
		margin: auto;
		padding: 50px;
	}
	li {
		padding: 5px;
		font-size: $fontSize;
	}
	h1 {
		padding: 10px 0;
	}
	.picture {
		width: 100%;
		height: 240px;
		background: url("../assets/images/avatar.jpg") center no-repeat;
		position: relative;
		top: -320px;
		animation: bounce 2s cubic-bezier(.1, .25, 1, .25) forwards;
	}
}