$fontSize:20px;
$white:#fff;
.main {
	width: 100%;
	height: 100%;
}

html {
	background: #FBE8D3;
}

@keyframes bounce {
	60%,
	80%,
	to {
		transform: translateY(300px);
		animation-timing-function: ease;
	}
	70% {
		transform: translateY(200px);
	}
	90% {
		transform: translateY(260px);
	}
}

@import "mixin.scss";
@import "reset.scss";
@import "sidebar.scss";
@import "content.scss";
@import "gerenjianjie.scss";
@import "qianduanxuexi.scss";
@import "yeyuaihao.scss";
@import "qianduanjishu.scss";