@mixin beveled-corners($bg, $tl:0, $tr:$tl, $br:$tl, $bl:$tr) {
	background: $bg;
	background: linear-gradient(135deg, transparent $tl, $bg 0) top left, linear-gradient(225deg, transparent $tl, $bg 0) top right, linear-gradient(-45deg, transparent $tl, $bg 0) bottom right, linear-gradient(45deg, transparent $tl, $bg 0) bottom left;
	background-size: 51% 51%;
	background-repeat: no-repeat;
}