.details-four {
	width: 80%;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	li {
		padding: 10px;
		font-size: $fontSize;
	}
	;
	.picture {
		width: 100%;
		height: 300px;
		filter:grayscale(100%);
		transition: all 0.3s ease;
  		opacity: 0.66;
		background: url("../assets/images/skills.png") center no-repeat;
		background-size: contain;
		position: relative;
		top: -320px;
		animation: bounce 2s cubic-bezier(.1, .25, 1, .25) forwards;
		&:hover{
			filter: none;
			opacity: 1;
		}
	};
}