.sidebar {
	position: fixed;
	top: 50px;
	left: 3%;
	width: 20%;
	text-align: center;
	@include beveled-corners(#70A1D7, 20px, 5px);
	padding: 40px 0;
	opacity: 0.8;
}

.todos {
	height: 30px;
	@include beveled-corners(#F47C7C, 15px, 5px);
}

.sidebar {
	li {
		position: relative;
		font-size: 24px;
		margin: 10px;
		cursor: pointer;
		color: $white;
		a {
			text-decoration: none;
			color: #fff;
			font-size: 20px;
		}
	}
	h1 {
		width: 80%;
		padding: 20px;
		margin: auto;
		@include beveled-corners(#F7F48B, 15px, 5px);
	}
	input {
		line-height: 2;
		text-align: center;
	}
	p {
		color: #fff;
		font-size: 5px;
		margin-top: 15px;
	}
}